<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>No Traineeships</title>
    <link rel="stylesheet" th:href="@{/css/no.css}">
</head>
<body>
<div class="container">
    <h2>No traineeships in progress</h2>
    <p>There are currently no internships assigned or in progress.</p>

    <div style="text-align: center; margin-top: 20px;">
        <a href="/committeemember/dashboard" class="btn">← Back to Dashboard</a>
    </div>
</div>
</body>
</html>
